


.gallery{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
 ; 
 }


.gallery-item{
 display: block;
 margin: 0;
  padding: 0;
}

.gallery-image {
   flex-basis: calc(33.333% - 10px); 
  margin: 5px;
   height: auto
}
